@use '@/styles' as *;

@keyframes circle_full {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes circle_line {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
.banner_aboutusbg {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--accent);
  position: relative;
  //  background-image: url('/about_banner.png');
  // background-repeat: no-repeat;
  @include respond(tab-land) {
    overflow: hidden;
    height: 100svh;
  }

  svg {
    position: absolute;
    max-width: 1992px;
    z-index: 0;
    transform-origin: top;
    @media only screen and (max-width: 992px) and (orientation: landscape) {
      max-width: 80%;
    }
    @include respond(tab-land) {
      width: 992px;
      .circle_line {
        .circle_one {
          circle {
            r: 350;
          }
        }
        .circle_two {
          circle {
            r: 1200;
          }
        }
        .circle_three {
          circle {
            r: 1400;
          }
        }
      }
    }
    @include respond(ultra-wide) {
      max-width: 2500px;
      .circle_full {
        circle {
          r: 150;
        }
      }
      .circle_blur {
        circle {
          r: 200;
        }
      }
      .circle_line {
        .circle_line_blur {
          circle {
            r: 400;
          }
        }
        .circle_one {
          circle {
            r: 350;
          }
        }
        .circle_two {
          circle {
            r: 550;
          }
        }
        .circle_three {
          circle {
            r: 600;
          }
        }
      }
    }
  }

  .circle_blur {
    filter: blur(78px);
  }

  .circle_full {
    transform-origin: top;
    opacity: 0.5;
    animation: circle_full;
    animation-duration: 4500ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
  }
  .circle_line {
    transform-origin: top;

    animation: circle_line;
    animation-duration: 4500ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    .circle_line_blur {
      filter: blur(10px);
      animation: circle_line;
      animation-duration: 4500ms;
      animation-iteration-count: infinite;
      animation-timing-function: ease-out;
    }
  }
  background-position: top center;
  .banner_aboutus {
    width: 100%;
    max-width: var(--maxwidth);
    display: flex;
    flex-flow: column;
    z-index: 1;
    justify-content: flex-end;
    padding: 26% 20% 25% 20%;

    @include respond(tab-land) {
      padding: 0% 16px 10% 16px;
      background-position: top center;
      height: 100svh;
    }

    @include respond(tab-port) {
      padding: 0% 16px 10% 16px;
      background-position: top center;
    }
    @include respond(phone) {
      padding: 0% 16px 10% 16px;
      background-position: top center;
    }
    @media only screen and (min-height: 800px) and (max-width: 576px) {
      padding: 0% 16px 30% 16px;
    }
    @media only screen and (max-width: 992px) and (orientation: landscape) {
      padding: 0% 16px 3% 16px;
    }
    @include respond(ultra-wide) {
      padding: 500px 215px;
      background-position: top center;
    }
    h1 {
      color: var(--white, #fff);
      text-align: center;
      font-family: 'Sora';
      font-style: normal;
      font-weight: 400;

      padding-bottom: 16px;
      @include h1;
      span {
        color: var(--black);
        display: block;
      }
      @include respond(tab-land) {
        padding-bottom: 20px;
      }
      @include respond(tab-port) {
        padding-bottom: 20px;
      }

      @media only screen and (max-width: 768px) and (orientation: landscape) {
        font-size: 35px;
        line-height: 40px;
      }
    }
    p {
      color: var(--black, #151313);
      text-align: center;
      font-family: Inter;
      font-size: 24px;
      font-style: normal;
      font-weight: 300;
      line-height: 32px; /* 133.333% */
      @include lead;
    }
  }
}
.weare_wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  z-index: 1;
  .weare {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    padding: 98px 120px 56px 120px;
    max-width: var(--maxwidth);
    @include respond(tab-land) {
      padding: 32px 16px 24px 16px;
    }
    .data {
      width: 50%;
      display: flex;
      flex-flow: wrap;
      h2 {
        color: var(--black, #151313);
        font-family: Sora;
        font-size: 40px;
        font-style: normal;
        font-weight: 300;
        line-height: 47px;
        padding-bottom: 30px;
        @include respond(tab-land) {
          font-size: 32px;
          line-height: 41px;
          padding-bottom: 24px;
        }
      }
      p {
        color: var(--black, #151313);
        font-family: 'Inter';
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
        @include respond(tab-land) {
          padding-bottom: 48px;
          font-size: 20px;
          line-height: 32px;
        }
      }
      @include respond(tab-land) {
        width: 100%;
      }
    }
    .btn_about {
      width: 50%;
      display: flex;
      justify-content: right;
      align-items: flex-end;
      @include respond(tab-land) {
        width: 100%;
      }
      button {
        width: 32px;
        height: 32px;
        padding: 4px;
        border-radius: 4px;
        border: 1px solid var(--black10, rgba(21, 19, 19, 0.1));
        background: var(--black10, rgba(21, 19, 19, 0.1));
        margin: 0 5px;
        transition: ease-in-out 300ms;
        cursor: pointer;
        &:hover {
          background-color: var(--black40);
        }
      }
    }
  }
}
.emp_wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  z-index: 1;
  .employee {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    max-width: 1600px;
    overflow: hidden;
    .tray {
      width: 100%;
      display: flex;
      flex-flow: row;
      scrollbar-width: none;
      padding: 0 0 93px 120px;
      gap: 24px;
      @include respond(tab-land) {
        padding: 0 0 40px 16px;
      }
      .tile {
        width: 283px;
        display: flex;
        flex-flow: column;
        flex-shrink: 0;
        cursor: pointer;
        .profile {
          display: flex;
          flex-direction: column;

          h3 {
            color: #000;

            font-family: 'Sora';
            font-size: 22px;
            font-style: normal;
            font-weight: 300;
            line-height: 32px;
            padding: 39px 0 8px 0px;
            @include respond(tab-land) {
              font-size: 18px;
              line-height: 24px;
              padding: 39px 0 4px 0;
            }
            img {
              vertical-align: middle;
              margin-left: 6px;
              transition: ease-in-out 200ms;
              &:hover {
                filter: brightness(50%);
              }
            }
          }
          p {
            color: #000;
            font-family: 'Inter';
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 23px;
            @include respond(tab-land) {
              font-size: 14px;
              line-height: 23px;
            }
          }
        }
      }
    }
  }
}
.us_block_wap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--black);
  background-image: url(/wireframe_bg.png);

  .us_block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: bottom;
    padding: 98px 120px 86px 120px;
    max-width: var(--maxwidth);
    @include respond(small-desktop) {
      padding: 48px 30px 86px 30px;
    }
    @include respond(tab-port) {
      padding: 48px 16px 16px 16px;
    }
    @include respond(phone) {
      background-image: none;
    }
    h2 {
      width: 100%;
      color: var(--accent, #fff);
      font-family: 'Sora';

      font-style: normal;
      text-align: center;

      font-weight: 400;

      padding-bottom: 16px;
      @include h1;
      @include respond(tab-land) {
        text-align: center;
      }
    }
    p {
      color: var(--white, #fff);
      font-family: 'Inter';
      font-size: 24px;
      font-style: normal;
      font-weight: 300;
      line-height: 32px;
      padding-bottom: 72px;
      text-align: center;
      @include respond(tab-land) {
        font-size: 20px;
        line-height: 32px;
        text-align: center;
        padding-bottom: 48px;
      }
    }
    .btn {
      display: flex;
      font-family: 'Inter';
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      padding: 13px 18px 13px 16px;
      border-radius: 4px;
      text-decoration: none;
      border: 1px solid var(--black, rgba(21, 19, 19, 0.1));
      background: var(--accent, #151313);
      box-shadow: 0px 0px 0px 0px rgba(242, 89, 48, 0);
      color: var(--White, #fff);
      cursor: pointer;
      transition: ease-in-out 300ms;
      &:hover {
        background-color: var(--white);
        color: var(--black);
      }
    }
    .tray {
      width: 100%;
      display: flex;
      flex-flow: wrap;
      justify-content: center;
      gap: 8px;
      @include respond(tab-land) {
        gap: 4px;
      }
      .tile {
        display: flex;
        flex-flow: wrap;
        width: calc((100% / 3) - 8px);
        padding: 40px;
        border-radius: 4px;
        border: 1px solid var(--white10, rgba(255, 255, 255, 0.1));
        background: var(--white10, rgba(255, 255, 255, 0.1));
        backdrop-filter: blur(30px);
        transition: ease-in-out 300ms;
        &:hover {
          border: solid 1px var(--white40);
        }

        @include respond(tab-land) {
          width: calc((100% / 2) - 8px);
          padding: 24px;
        }
        @include respond(tab-port) {
          width: 100%;
          padding: 24px;
        }
        h3 {
          color: var(--accent, #fff);
          text-align: left;
          font-family: 'Sora';
          font-size: 32px;
          font-style: normal;
          font-weight: 300;
          line-height: 41px;
          padding-bottom: 8px;
          @include respond(tab-land) {
            font-size: 24px;
            width: 100%;
            line-height: 32px;
            text-align: center;
          }
        }
        p {
          color: var(--white, #fff);
          font-family: 'Inter';
          font-size: 18px;
          font-style: normal;
          font-weight: 300;
          line-height: 30px;
          padding-bottom: 0;
          @include respond(tab-land) {
            font-size: 16px;
            line-height: 24px;
            text-align: left;
            padding-bottom: 0;
          }
        }
      }
    }
  }
}
.nobg {
  background-image: none;
  .us_block {
    p {
      padding-bottom: 20px;
    }
  }
}
.contact_wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  .contact {
    display: flex;
    flex-flow: wrap;
    width: 100%;
    padding: 100px 120px;
    max-width: var(--maxwidth);
    @include respond(tab-land) {
      padding: 16px;
    }
    .title {
      width: 100%;
      color: var(--black80);
      text-align: center;
      font-family: 'Inter';
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px;
      letter-spacing: 2.8px;
      text-transform: uppercase;
      padding-bottom: 90px;
      @include respond(tab-land) {
        padding-bottom: 50px;
      }
      img {
        vertical-align: middle;
        margin-right: 21px;
      }
    }
    .tray {
      width: 100%;
      display: flex;
      flex-flow: wrap;
      .tray_col {
        width: 50%;
        display: flex;

        .tray_col_wrap {
          display: flex;
          flex-direction: column;
          position: sticky;
          top: 100px;
          align-items: flex-start;
          @include respond(tab-land) {
            align-items: center;
          }
          img {
            margin: auto;
          }
        }
        @include respond(tab-land) {
          width: 100%;
        }
        &:nth-child(1) {
          flex-flow: column;
          align-items: flex-start;
          padding-right: 10%;
          @include respond(tab-land) {
            padding: 0px;
            align-items: center;
          }
        }
        &:nth-child(2) {
          border-radius: 8px;
          border: 1px solid var(--black80, rgba(21, 19, 19, 0.8));
          background: var(--white, #fff);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
          padding: 40px;
          @include respond(tab-land) {
            margin: 50px 0 0 0;
            padding: 24px;
          }
          form {
            width: 100%;
            .row {
              width: 100%;
              display: flex;
              flex-flow: wrap;
              justify-content: space-between;
              padding-bottom: 32px;
              @include respond(tab-land) {
                padding: 0;
              }
              .col100 {
                width: 100%;
                display: flex;
                flex-direction: column;
                @include respond(tab-land) {
                  margin-bottom: 16px;
                }
                label {
                  color: var(--black80, rgba(21, 19, 19, 0.8));
                  font-family: 'Inter';
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 300;
                  line-height: 22px;
                  padding-bottom: 6px;
                  span {
                    color: var(--accent);
                  }
                  @include respond(tab-land) {
                    margin-bottom: 16px;
                  }
                }

                input {
                  padding: 16px;
                  border-radius: 4px;
                  border: 1px solid var(--black10, rgba(21, 19, 19, 0.1));
                  background: #fff;
                  color: var(--dark);
                  font-family: 'Inter';
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 300;
                  line-height: 22px;
                  outline: none;
                  transition: ease-in-out 300ms;
                  &:focus {
                    border: solid 1px var(--accent);
                  }
                  /*  @include respond(tab-land) {
                    margin-bottom: 16px;
                  } */
                }
                input[type='checkbox'] {
                  width: 24px;
                  height: 24px;
                  vertical-align: middle;
                  margin-right: 8px;
                  accent-color: var(--black);
                  padding: 0;
                }
                textarea {
                  width: 100%;
                  height: 150px;
                  padding: 16px;
                  border-radius: 4px;
                  border: 1px solid var(--black10, rgba(21, 19, 19, 0.1));
                  background: #fff;
                  color: var(--dark);
                  font-family: 'Inter';
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 300;
                  line-height: 22px;
                  outline: none;
                  transition: ease-in-out 300ms;
                  &:focus {
                    border: solid 1px var(--accent);
                  }
                }
              }
              .col {
                width: calc(50% - 4px);
                display: flex;
                flex-flow: column;
                @include respond(tab-land) {
                  width: 100%;
                }
                label {
                  color: var(--black80, rgba(21, 19, 19, 0.8));
                  font-family: 'Inter';
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 300;
                  line-height: 22px;
                  padding-bottom: 6px;
                  span {
                    color: var(--accent);
                  }
                }
                input {
                  padding: 16px;
                  border-radius: 4px;
                  border: 1px solid var(--black10, rgba(21, 19, 19, 0.1));
                  background: #fff;
                  color: var(--dark);
                  font-family: 'Inter';
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 300;
                  line-height: 22px;
                  outline: none;
                  transition: ease-in-out 200ms;
                  &:focus {
                    border: solid 1px var(--accent);
                  }
                  @include respond(tab-land) {
                    margin-bottom: 16px;
                  }
                }
              }
            }
            p {
              color: var(--black80, rgba(21, 19, 19, 0.8));
              font-family: 'Inter';
              font-size: 12px;
              font-style: normal;
              font-weight: 300;
              line-height: 20px;
              padding-bottom: 0;
              a {
                text-decoration: underline;
                color: var(--black80);
              }
              @include respond(tab-land) {
                text-align: left;
                padding-top: 0px;
              }
            }
            .contact_agree {
              display: flex;
              align-items: center;
              color: var(--black80, rgba(21, 19, 19, 0.8));
              padding-bottom: 32px;
              font-family: 'Inter';
              font-size: 16px;
              font-style: normal;
              font-weight: 300;
              line-height: 22px;
              // label {
              //   display: inline-block;
              //   border-radius: 4px;
              //   border: 1px solid var(--Black-80, rgba(21, 19, 19, 0.8));
              //   width: 24px;
              //   height: 24px;
              //   margin-right: 8px;
              // }
              input[type='checkbox'] {
                display: block;
                width: 24px;
                height: 24px;
                margin-right: 8px;
                accent-color: var(--black);
              }
            }
            button {
              display: flex;
              padding: 13px 18px 13px 16px;
              border-radius: 4px;
              border: 1px solid var(--black, rgba(21, 19, 19, 0.1));
              background: var(--Black, #151313);
              box-shadow: 0px 0px 0px 0px rgba(242, 89, 48, 0);
              color: var(--White, #fff);
              font-family: 'Inter';
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 22px;
              margin-left: auto;
              align-items: center;
              cursor: pointer;
              transition: ease-in-out 300ms;
              &:hover {
                background-color: var(--accent);
                border-color: var(--accent);
              }
              svg {
                margin-left: 6px;
                vertical-align: middle;
              }
            }
          }
        }
        h2 {
          color: var(--accent, #f25930);
          font-family: 'Sora';
          font-size: 40px;
          font-style: normal;
          font-weight: 300;
          line-height: 47px;
          padding: 50px 0 32px 0;
          @include respond(tab-land) {
            text-align: center;
            font-size: 32px;
            line-height: 40px;
          }
        }
        p {
          color: var(--black, #151313);
          font-family: 'Inter';
          font-size: 24px;
          font-style: normal;
          font-weight: 300;
          line-height: 32px;
          padding-bottom: 50px;
          @include respond(tab-land) {
            text-align: center;
            font-size: 20px;
            line-height: 32px;
          }
          span {
            color: var(--accent);
            font-weight: bold;
          }
        }
        .form-submitted {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          align-content: center;
          flex-flow: column;
          color: var(--black, #151313);
          font-family: 'Inter';
          padding-bottom: 0px;
          span {
            font-size: 30px;
            font-style: normal;
            font-weight: bold;
            line-height: 50px;
            @include respond(tab-land) {
              font-size: 24px;
              line-height: 40px;
            }
          }
        }
      }
    }
  }
}
