@use '@/styles' as *;

@keyframes textflip {
  0% {
    transform: translateY(70px);
    opacity: 0;
    @include respond(tab-land) {
      transform: translateX(70px);
      transform: translateY(0);
    }
  }
  20% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-70px);
    @include respond(tab-land) {
      transform: translateX(-70px);
      transform: translateY(0);
    }
  }
}
@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bannerhome_wrap {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  max-width: var(--maxwdith);
  padding: 44px;
  background-color: hsla(12, 88%, 56%, 1);
  justify-content: center;
  background-color: hsla(12, 88%, 56%, 1);
  position: relative;
  background-image: radial-gradient(at 76% 50%, hsla(12, 87%, 56%, 1) 0px, transparent 50%), radial-gradient(at 21% 41%, hsla(12, 87%, 56%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 53%, hsla(12, 87%, 56%, 1) 0px, transparent 50%), radial-gradient(at 98% 57%, hsla(12, 88%, 57%, 1) 0px, transparent 50%),
    radial-gradient(at 72% 95%, hsla(0, 0%, 95%, 0.28) 0px, transparent 50%), radial-gradient(at 28% 95%, hsla(0, 0%, 95%, 0.28) 0px, transparent 50%),
    radial-gradient(at 50% 80%, hsla(0, 0%, 95%, 0.59) 0px, transparent 50%), radial-gradient(at 14% 96%, hsla(0, 0%, 95%, 0.65) 0px, transparent 50%),
    radial-gradient(at 87% 97%, hsla(0, 0%, 95%, 0.65) 0px, transparent 50%);
  canvas {
    width: 100%;
    @include respond(tab-land) {
      display: none !important;
    }
  }
  @include respond(ultra-wide) {
    height: 100vh;
  }
  @include respond(tab-land) {
    padding: 10% 10% 2% 10%;
    height: 100svh;
  }
  @include respond(tab-port) {
    padding: 15% 10% 2% 10%;
    background-color: hsla(12, 88%, 56%, 1);
    background-image: radial-gradient(at 71% 67%, hsla(12, 87%, 56%, 1) 0px, transparent 50%), radial-gradient(at 52% 41%, hsla(12, 87%, 56%, 1) 0px, transparent 50%),
      radial-gradient(at 5% 26%, hsla(12, 87%, 56%, 1) 0px, transparent 50%), radial-gradient(at 29% 75%, hsla(12, 88%, 57%, 1) 0px, transparent 50%),
      radial-gradient(at 52% 94%, hsla(0, 0%, 95%, 0.81) 0px, transparent 50%);
  }
  @include respond(phone) {
    padding: 90px 5% 10% 5%;
  }
  @media only screen and (max-width: 768px) and (orientation: landscape) {
    padding: 90px 2% 10% 2%;
  }
  .no_mobile {
    @include respond(tab-land) {
      display: none !important;
    }
  }
  .banner_home {
    width: 100%;
    max-width: var(--maxwidth);
    display: flex;
    flex-flow: wrap;
    border: 2px solid var(--black, #151313);
    justify-content: center;
    padding: 20% 100px;
    @include respond(ultra-wide) {
      align-content: center;
      padding: 20vh 100px;
    }

    @include respond(tab-land) {
      border: 0px;
      padding: 0% 0 0% 0;
      background-position: top;
      background-size: 80%;
      background-image: url('/bg_banner.png');
      background-repeat: no-repeat;
      background-position: top;
      align-items: flex-end;
      align-content: flex-end;
    }
    @include respond(tab-port) {
      border: 0px;
      background-position: top;
      background-size: 100%;
    }
    @media only screen and (max-width: 992px) and (orientation: landscape) {
      background-size: 40%;
    }
    @include respond(phone) {
      border: 0px;
      background-position: top;
      background-size: 80vmin;
    }

    h1 {
      width: 100%;
      display: flex;
      font-family: 'Sora';
      color: var(--black);
      font-style: normal;
      justify-content: center;
      text-align: center;
      font-weight: 400;
      margin-bottom: 10px;
      overflow: hidden;
      align-items: center;
      @include h1;
      &:nth-child(2) {
        margin-bottom: 30px;
      }

      @include respond(tab-land) {
        flex-direction: column;
        margin-bottom: 10px;
      }
      @include respond(phone) {
        font-size: 11vw;
      }
      @media only screen and (max-width: 768px) and (orientation: landscape) {
        font-size: 5vw;
        line-height: 6vw;
      }
      .partner_list {
        position: relative;
        display: inline-flex;
        flex-direction: column;
        height: 80px;
        text-align: left;
      }

      span {
        color: var(--white);
        flex-shrink: 0;
        position: relative;
        display: inline-flex;

        padding: 0;
        transition: transform 0.3s;
        transform-origin: 50% 0;
        transform-style: preserve-3d;
      }
      .myani {
        animation: textflip 2.3s infinite ease-out;
      }
    }
    .banner_description {
      p {
        color: #000;
        text-align: center;
        font-family: 'Inter';
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px; /* 133.333% */
        padding: 0px 15% 30px 15%;
        @include lead;
        @include respond(tab-land) {
          padding: 0 0 49px 0;
        }

        @include respond(phone) {
          padding: 0 0 49px 0;
        }
        @media only screen and (max-width: 768px) and (orientation: landscape) {
          padding: 0 0 20px 0;
        }
      }
    }

    .btn {
      display: flex;
      height: 56px;
      padding: 13px 18px 13px 16px;
      justify-content: center;
      align-items: center;
      gap: 6px;
      border-radius: 4px;
      border: 1px solid var(--white10, rgba(255, 255, 255, 0.1));
      background: var(--Dark, #151313);
      box-shadow: 0px 0px 0px 0px rgba(242, 89, 48, 0);
      color: var(--White-80, #fff);
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      transition: ease-in-out 200ms;
      z-index: 10;
      text-decoration: none;

      cursor: pointer;
      &:hover {
        background-color: var(--black80);
      }
      svg {
        transition: ease-in-out 200ms;
      }
      &:hover svg {
        transform: translateX(5px);
        color: var(--accent);
      }
    }
  }
}

.service {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  background-color: var(--black);
  padding: 63px 120px;
  justify-content: center;
  overflow: hidden;

  max-width: var(--maxwidth);
  @include respond(tab-land) {
    padding: 63px 40px;
  }
  @include respond(tab-port) {
    padding: 48px 16px;
  }
  .service_title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21px;
    padding-bottom: 38px;

    color: var(--white80, rgba(255, 255, 255, 0.8));
    text-align: center;

    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 2.8px;
    text-transform: uppercase;
  }
  a {
    text-decoration: none;
    display: flex;
    .card {
      width: 100%;
      display: flex;
      flex-flow: wrap;
      border-radius: 4px;
      border: 1px solid var(--white10, rgba(255, 255, 255, 0.1));
      background: var(--white3);
      box-shadow: 0px 0px 0px 0px rgba(242, 89, 48, 0);
      transition: transform 0.3s ease-in-out;
      overflow: hidden;

      @include respond(tab-land) {
        flex-direction: column-reverse;
        background-color: var(--white3);
        background: rgba(255, 255, 255, 0.05);
      }
      .animation2 {
        transform: translate(-40px, 30px);
        transition: 0.3s ease-in-out;
      }
      .animation3 {
        transform: translate(0px, 20px);
        scale: 1.1;
        transition: transform 0.3s ease-in-out;
      }
      @include respond(phone) {
        .animation2 {
          transform: translate(-5px, 0px);
        }
      }
      @include respond(tab-land) {
        .animation2 {
          transform: translate(-5px, 5px);
        }
      }

      &:hover {
        //change border color to accent
        box-shadow: 0 0 0 2px #f25930;

        .animation2 {
          transform: translate(-20px, 0px);
          @include respond(phone) {
            transform: translate(5px, -5px);
          }
          @include respond(tab-land) {
            transform: translate(5px, -5px);
          }
        }
        .revops_animation {
          transform: translateX(75px);
          transition: transform 0.3s ease-in-out;
        }
        .animation3 {
          transform: translate(10px, 0px);

          .opacity {
            fill-opacity: 0.3;
            transition: fillOpacity 0.3s ease-in-out;
          }
          .opacity2 {
            fill-opacity: 0.4;
            transition: fillOpacity 0.3s ease-in-out;
          }
          .disappear {
            fill-opacity: 0.09;
            transition: fillOpacity 0.3s ease-in-out;
          }
        }

        .hover-group {
          transform: translateX(-10px); /* Move 20px to the left */
          transition: transform 0.3s ease-in-out; /* Add a smooth transition */
        }
        .hover-group2 {
          transform: translateY(-15px);
          transition: transform 0.3s ease-in-out;
        }
        .hover-group3 {
          transform: translateY(15px);
          transition: transform 0.3s ease-in-out;
        }
        .hover-group4 {
          transform: translate(5px, -5px);
          transition: transform 0.3s ease-in-out;
        }
      }
      .card_col {
        width: 50%;
        display: flex;
        flex-flow: wrap;
        transition: transform 0.3s ease-in-out;
        overflow: hidden;
        align-content: center;

        @include respond(tab-land) {
          width: 100%;
        }
        h2 {
          color: var(--white, #fff);

          font-family: 'Sora';
          font-size: 40px;
          font-style: normal;
          font-weight: 300;
          line-height: 47px;
          @include respond(tab-land) {
            font-size: 24px;
            line-height: 32px;
          }
        }
        p {
          color: var(--white, #fff);

          font-family: 'Inter';
          font-size: 18px;
          font-style: normal;
          font-weight: 300;
          line-height: 30px;
          padding: 24px 0;
          @include respond(tab-land) {
            padding: 5px 0 24px 0;
            font-size: 16px;
            line-height: 24px;
          }
        }
        button {
          color: var(--white, #fff);
          font-family: 'Inter';
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
          gap: 8px;
          text-decoration: none;
          background-color: transparent;
          border: none;
          cursor: pointer;

          span {
            color: var(--accent, #f25930);
            font-family: 'Inter';
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
            transition: ease-in-out 200ms;
          }
        }
        &:nth-child(1) {
          padding: 40px;
          @include respond(tab-land) {
            padding: 24px;
          }
        }
        svg {
          transition: transform 0.3s ease-in-out;

          @include respond(tab-land) {
            width: 100%;
            height: 234px;
          }
        }
        &:nth-child(2) {
          @include respond(tab-land) {
            background-color: var(--white3);
          }
        }
      }
    }
  }

  .divider {
    width: 1px;
    height: 22px;
    background: var(--white10, rgba(255, 255, 255, 0.1));
    &:last-child {
      display: none;
    }
  }
}
.excellence_wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  align-items: center;
  .excellence {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    background-color: var(--white);
    padding: 7% 8% 10% 8%;
    justify-content: center;
    max-width: var(--maxwidth);
    @include respond(ultra-wide) {
      padding: 106px 80px;
    }
    @include respond(tab-land) {
      padding: 11% 3% 4% 3%;
    }
    @include respond(tab-port) {
      padding: 11% 16px 4% 16px;
    }
    .excellence_title {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 21px;

      color: var(--black, rgba(255, 255, 255, 0.8));
      text-align: center;
      font-family: 'Inter';
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px;
      letter-spacing: 2.8px;
      text-transform: uppercase;
    }
    .title {
      color: var(--Accent, #f25930);
      text-align: center;
      font-family: Sora;

      font-style: normal;
      padding: 56px 0;
      font-weight: 400;
      @include h1;
      @include respond(tab-land) {
        padding: 41px 0;
      }
    }
    .tiles {
      width: 100%;
      display: grid;
      gap: 24px;
      padding-bottom: 56px;
      grid-template-columns: repeat(auto-fit, calc((100% / 3) - 24px));
      @include respond(small-desktop) {
        grid-template-columns: repeat(auto-fit, calc((100% / 2) - 24px));
      }
      @include respond(tab-land) {
        grid-template-columns: repeat(auto-fit, calc((100% / 2) - 24px));
        gap: 10px;
        padding-bottom: 30px;
      }
      @include respond(tab-port) {
        grid-template-columns: repeat(auto-fit, calc((100%)));
        gap: 0px;
      }
      .tile_animaiton1 {
        .animation1_element {
          transition:
            transform 0.3s ease-in-out,
            stroke 0.3s ease-in-out;
          stroke: var(--accent);
        }
        &:hover {
          .animation1_element {
            transform: translateX(100px);
            stroke: white;
            fill: white;
          }
        }
        svg {
          width: 100%;
        }
      }

      .tile_animation2 {
        .tile_animation2_main {
          stroke: #7b6f6f66;
          transition:
            transform 0.3s ease-in-out,
            stroke 0.3s ease-in-out,
            fill 0.3s ease-in-out;
        }
        stroke: var(--accent);
        circle {
          fill: var(--accent);
        }
        &:hover {
          circle {
            fill: #151313;
          }
        }
        overflow: hidden;
        svg {
          transform: translateX(-30px);
        }
        &:hover {
          .tile_animation2_main {
            transform: translateX(25px);
            transition: transform 0.3s ease-in-out;
            stroke: white;
          }
          .tile_animation2 {
            stroke: #151313;
          }
        }
      }
      .tile_animation4 {
        svg {
          transform: translateY(10px);
          transition: transform 0.3s ease-in-out;
          path:nth-child(1) {
            fill: var(--accent);
            stroke: var(--accent);
          }
          path:nth-child(2) {
            fill: var(--black10);
            opacity: 0.6;
          }
        }
        &:hover {
          svg {
            transform: translateY(-10px);
            path:nth-child(1) {
              fill: var(--black);
              stroke: var(--black);
            }
            path:nth-child(2) {
              fill: var(--white);
              opacity: 0.6;
            }
          }
        }
      }

      .tile_animation3 {
        svg {
          transform: translateX(-30px);
        }
        overflow: hidden;
        .c1,
        .c2,
        .c3,
        .c4,
        .c5,
        .c6 {
          transition: transform 0.3s ease-in-out;
        }
        path {
          stroke: var(--black80);
          transition: stroke 0.3s ease-in-out;
        }
        circle {
          fill: var(--accent);
          transition: fill 0.3s ease-in-out;
        }
        &:hover {
          path {
            stroke: var(--black);
          }
          circle {
            fill: var(--white);
          }
        }
        &:hover {
          .c1 {
            transform: translateX(55px);
          }
          .c3 {
            transform: translate(-8px, 8px);
          }
          .c4 {
            transform: translateX(66px);
          }
          .c5 {
            transform: translate(-13px, 10px);
          }
          .c6 {
            transform: translateX(44px);
          }
        }
      }
      .tile_animation5 {
        overflow: hidden;
        svg path {
          stroke: #7b6f6f;
        }
        svg {
          transform: translateX(-30px);
        }
        .orange_line {
          stroke: var(--accent);
          transition: stroke 0.3s ease-in-out;
        }
        .black_line {
          stroke-opacity: 0.4;
          transition: stroke 0.3s ease-in-out;
        }
        &:hover {
          svg path {
            stroke: var(--white);
          }
          .orange_line {
            stroke: var(--accent);
          }
          .black_line {
            stroke: var(--black);
            stroke-opacity: 1;
          }
        }
      }

      .tile {
        padding: 25px;
        border-radius: 4px;
        border: 1px solid var(--Black-10, rgba(21, 19, 19, 0.1));
        p {
          color: var(--Black-80, rgba(21, 19, 19, 0.8));
          font-family: 'Sora';
          font-size: 22px;
          font-style: normal;
          font-weight: 300;
          line-height: 32px; /* 145.455% */
          padding-bottom: 35px;
          @include respond(tab-land) {
            padding-bottom: 35px;
            font-size: 18px;
            line-height: 24px;
          }
        }
        img {
          @include respond(tab-land) {
            width: 64px;
            height: 64px;
          }
        }

        @include respond(tab-land) {
          border-radius: 0px;
          min-height: 200px;
        }

        &:hover {
          background-color: var(--accent);
          transition: ease-in-out 200ms;
        }
      }
    }
  }
}

.connect_wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--dark);
  .connect {
    width: 100%;
    padding: 23px 23px 80px 23px;
    display: flex;
    flex-flow: wrap;
    max-width: var(--maxwidth);
    background-color: transparent;

    @include respond(tab-land) {
      padding: 32px 16px;
    }
  }
}
