@use '@/styles' as *;

.privacy_wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 150px;
  max-width: var(--maxwidth);
  @include respond(tab-port) {
    padding: 120px 16px;
  }
  h1 {
    color: var(--accent, #fff);
    text-align: center;
    font-family: 'Sora';

    font-style: normal;
    font-weight: 400;

    padding-bottom: 50px;
    @include h1;
  }
  p {
    color: var(--white, #151313);
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 30px;
    a {
      color: var(--accent);
      text-decoration: none;
    }
    @include respond(tab-port) {
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
    }
  }
  h3 {
    color: var(--accent, #151313);
    font-family: 'Sora';
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;

    padding-bottom: 10px;
    @include respond(tab-land) {
      font-size: 24px;
      font-style: normal;
      font-weight: 300;
      line-height: 32px;
    }
  }
  ol {
    list-style: outside;
    padding-left: 20px;
    li {
      color: var(--white, #151313);
      font-family: 'Inter';
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      padding-bottom: 10px;
    }
  }
}
