@use '@/styles' as *;

.banner_insights {
  width: 100%;
  display: flex;
  flex-flow: column;
  background-color: var(--black);
  padding: 16% 20% 3% 20%;
  background-image: url('/insights_banner.png');
  background-position: top center;
  background-size: 100%;
  background-repeat: no-repeat;
  max-width: var(--maxwidth);
  @include respond(large-desktop) {
    padding: 350px 460px 150px 460px;
  }
  @include respond(tab-land) {
    padding: 0% 20% 20% 20%;
    background-size: 200%;
    height: 100svh;
    justify-content: flex-end;
  }
  @include respond(tab-port) {
    background-origin: border-box;
    background-size: 250%;
    padding: 0% 5% 5% 5%;
  }
  @include respond(phone) {
    background-origin: border-box;
    background-size: 250%;
    padding: 0% 5% 30% 5%;
  }
  @media only screen and (min-height: 800px) and (max-width: 576px) {
    padding: 0% 5% 35% 5%;
  }
  @media only screen and (max-width: 992px) and (orientation: landscape) {
    padding: 0% 5% 0% 5%;
    background-size: 100%;
  }
  h1 {
    color: var(--white, #fff);
    text-align: center;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    padding-bottom: 31px;
    @include h1;
    span {
      color: var(--accent);
    }
    @include respond(tab-land) {
      padding-bottom: 16px;
    }
  }
  p {
    color: var(--white, #fff);
    text-align: center;
    font-family: Inter;

    font-style: normal;
    font-weight: 300;
    @include lead;

    @include respond(tab-land) {
      padding-bottom: 64px;
    }
  }
}

.featured {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  padding: 0 125px 5% 125px;
  background-color: var(--black);
  max-width: var(--maxwidth);
  @include respond(tab-land) {
    padding: 0 16px 16px 16px;
  }
  .title {
    width: 100%;
    color: var(--white80);
    text-align: center;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    padding-bottom: 48px;
    @include respond(tab-land) {
      padding-bottom: 64px;
    }
    img {
      vertical-align: middle;
      margin-right: 21px;
    }
  }
  .tray {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    border-radius: 4px;
    border: 1px solid var(--white10, rgba(255, 255, 255, 0.1));
    background: var(--white3, rgba(255, 255, 255, 0.03));
    backdrop-filter: blur(58px);
    margin-bottom: 32px;

    @include respond(tab-land) {
      width: 80%;
      margin: 0 10%;
    }
    @include respond(tab-port) {
      width: 100%;
      margin: 0;
    }
    &:last-child {
      margin-bottom: 0px;
    }
    .tray_img {
      width: 39%;
      display: flex;
      @include respond(tab-land) {
        width: 100%;
      }

      img {
        width: 100%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        @include respond(small-desktop) {
          object-fit: cover;
        }
        @include respond(tab-land) {
          border-radius: 0;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }
      }
    }
    .tray_date {
      width: 61%;
      display: flex;
      flex-flow: column;
      padding: 40px;
      align-items: flex-start;
      @include respond(tab-land) {
        width: 100%;
        padding: 16px;
      }

      .row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: flex-start;
        padding-bottom: 24px;
        span {
          &:nth-child(1) {
            padding: 2px 10px;
            color: var(--accent, #f25930);
            font-family: 'Inter';
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 23px;
            border-radius: 4px;
            border: 1px solid var(--white10, rgba(255, 255, 255, 0.1));
            background: var(--white10, rgba(255, 255, 255, 0.1));
          }
          &:nth-child(2) {
            display: flex;
            color: var(--white, #fff);
            font-family: 'Inter';
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 23px;

            svg {
              margin-left: 8px;
              color: var(--white60);
            }
          }
        }
      }
      h2 {
        color: var(--white, #fff);
        font-family: 'Sora';
        font-size: 40px;
        font-style: normal;
        font-weight: 300;
        line-height: 47px;
        padding-bottom: 8px;
        padding-right: 10%;
        @include respond(tab-land) {
          font-size: 32px;
          line-height: 40px;
        }
      }
      p {
        color: var(--white, #fff);
        font-family: 'Inter';
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 30px;
        padding-right: 10%;

        @include respond(tab-land) {
          font-size: 16px;
          line-height: 24px;
        }
      }
      a {
        display: flex;
        background-color: var(--accent);
        margin-left: auto;
        padding: 10px;
        border-radius: 3.333px;
        border: 0.833px solid var(--white10, rgba(255, 255, 255, 0.1));
        transition: ease-in-out 300ms;
        &:hover {
          background-color: var(--accentdark);
        }
      }
    }
  }
}

.casestudy_wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;

  .casestudy {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    padding: 0px 120px 105px 120px;
    background: #f7f7f7;
    max-width: var(--maxwidth);
    @include respond(tab-land) {
      padding: 32px 10% 0px 10%;
      background: var(--white, #fff);
    }
    @include respond(tab-port) {
      padding: 32px 16px 0px 16px;
      background: var(--white, #fff);
    }
    #contenttype {
      display: none;
    }
    #contenttype:checked + .menu {
      display: flex;
    }
    h3 {
      display: none;
      color: var(--black, #151313);
      font-family: 'Inter';
      padding-bottom: 8px;
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: 30px;
      @include respond(tab-land) {
        display: block;
        font-size: 16px;
      }
    }
    .contenttype {
      width: 100%;
      border-radius: 4px;
      border: 1px solid var(--black10, rgba(21, 19, 19, 0.1));
      background: #fff;
      padding: 16px;
      color: var(--black, #151313);
      font-family: 'Inter';
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 22px;
      display: none;
      justify-content: space-between;
      @include respond(tab-land) {
        display: flex;
      }
    }
    .menu {
      width: 100%;
      display: flex;
      flex-flow: wrap;
      position: sticky;
      top: -20px;
      z-index: 4;
      padding-top: 105px;
      background-color: #f7f7f7;
      border-bottom: 1px solid var(--black10, rgba(21, 19, 19, 0.1));
      @include respond(tab-land) {
        position: relative;
        display: none;
        top: 0;
        padding: 0;
      }
      ul {
        width: 100%;
        list-style: none;
        display: flex;
        align-items: center;

        @include respond(tab-land) {
          flex-wrap: wrap;
          position: absolute;
          z-index: 3;
          background-color: var(--white);
          border: 1px solid var(--black10, rgba(21, 19, 19, 0.1));
        }
        li {
          display: flex;
          width: 100%;
          @include respond(tab-land) {
            width: 100%;
            padding: 10px;
            border-bottom: 1px solid var(--black10, rgba(21, 19, 19, 0.1));
          }
          &:nth-child(even) {
            width: 1px;
            height: 17px;
            margin: 0 16px;
            background-color: rgba(21, 19, 19, 0.1);
            @include respond(tab-land) {
              display: none;
            }
          }
          button {
            width: 100%;
            background-color: var(--white3);
            //   padding: 8px 16px;
            color: var(--black, #151313);
            text-align: center;
            font-family: 'Inter';
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            cursor: pointer;
            line-height: 30px;
            border: none;
            border-bottom: solid 2px var(--white);
            transition: ease-in-out 200ms;
            &:hover {
              border-bottom-color: var(--accent);
              @include respond(tab-land) {
                border-bottom: none;
                text-align: center;
              }
            }

            &.active {
              border-bottom-color: var(--accent);
              @include respond(tab-land) {
                border-bottom: none;
              }
            }
          }
        }
      }
    }
    h2 {
      padding: 60px 0;
      color: var(--black, #151313);
      font-family: 'Sora';
      font-size: 40px;
      font-style: normal;
      font-weight: 300;
      line-height: 47px;

      @include respond(tab-land) {
        display: none;
      }
    }
    .casestudy_tray {
      width: 100%;
      display: flex;
      flex-flow: wrap;
      padding: 56px 0 0px 0;
      @include respond(tab-land) {
        padding: 0px 0 0px 0;
      }
      h3 {
        width: 100%;
        display: none;
        color: var(--black, #151313);
        font-family: 'Inter';
        padding-bottom: 8px;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 30px;
        padding: 20px 0 8px 0;
        @include respond(tab-land) {
          display: block;
          font-size: 16px;
        }
      }
      #categoriestype {
        display: none;
      }
      #categoriestype:checked + .side_menu {
        display: flex;
      }
      .categoriestype {
        width: 100%;
        border-radius: 4px;
        border: 1px solid var(--Black-10, rgba(21, 19, 19, 0.1));
        background: #fff;
        padding: 16px;
        color: var(--black, #151313);
        font-family: 'Inter';
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 22px;
        display: none;
        justify-content: space-between;
        @include respond(tab-land) {
          display: flex;
        }
      }
      .side_menu {
        width: 26%;
        display: flex;
        flex-flow: column;
        padding-right: 32px;
        align-items: flex-start;
        position: relative;
        z-index: 3;

        @include respond(tab-land) {
          width: 100%;
          display: none;
        }
        .side_menu_wrap {
          width: 100%;
          display: flex;
          flex-flow: wrap;
          position: sticky;
          top: 150px;

          z-index: 2;

          padding-right: 30px;
          @include respond(tab-land) {
            width: 100%;
            position: absolute;
            top: 0;
            padding: 0;
            background-color: var(--white);
          }
          button {
            width: 100%;
            padding: 8px 16px;
            color: var(--black80, rgba(21, 19, 19, 0.8));
            text-align: start;
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 30px;
            border: none;
            background-color: transparent;
            border-radius: 4px;
            transition: ease-in-out 200ms;
            cursor: pointer;
            @include respond(tab-land) {
              text-align: center;
            }
            &:hover {
              background-color: var(--black10);
              @include respond(tab-land) {
                background-color: var(--white);
              }
            }

            &.active {
              color: var(--accent);
              @include respond(tab-land) {
                background-color: var(--white);
              }
            }
            @include respond(tab-land) {
              width: 100%;
              padding: 10px;
              border-bottom: 1px solid var(--Black-10, rgba(21, 19, 19, 0.1));
            }
          }
        }
      }
      .data {
        width: 74%;
        display: flex;
        flex-flow: wrap;
        align-items: flex-start;
        border-left: 1px solid var(--black10, rgba(21, 19, 19, 0.1));
        padding-left: 32px;
        @include respond(tab-land) {
          width: 100%;
          padding: 65px 0 0 0;
          border: 0;
        }
        .data_block {
          width: 100%;
          display: flex;
          flex-flow: wrap;
          border-radius: 4px;
          border: 1px solid var(--white10, rgba(255, 255, 255, 0.1));
          background: var(--white3, rgba(255, 255, 255, 0.03));
          backdrop-filter: blur(58px);
          padding: 32px 0;
          cursor: pointer;
          border-bottom: 1px solid var(--black10, rgba(21, 19, 19, 0.1));
          &:nth-child(1) {
            padding-top: 0px;
          }
          @include respond(tab-port) {
            flex-direction: column;
          }

          .tray_img {
            width: 25%;
            display: flex;
            align-items: flex-start;
            @include respond(tab-land) {
              width: 30%;
            }
            @include respond(tab-port) {
              width: 100%;
            }
            img {
              width: 100%;
              height: auto;
              border-radius: 5px;
            }
          }
          .tray_date {
            width: 75%;
            display: flex;
            flex-flow: column;
            padding: 0px 0 0 40px;
            justify-content: flex-start;
            @include respond(tab-land) {
              width: 70%;
              padding: 0px 0 0 20px;
            }
            @include respond(tab-port) {
              width: 100%;
              padding: 20px;
            }
            .row {
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-top: auto;
              @include respond(tab-land) {
                flex-flow: column;
                align-items: flex-start;
              }

              span {
                &:nth-child(1) {
                  display: flex;
                  color: var(--black);
                  font-family: 'Inter';
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 300;
                  line-height: 23px;
                  svg {
                    margin-left: 8px;
                    color: var(--white60);
                    @include respond(tab-land) {
                      margin-left: 0px;
                    }
                  }
                }
                &:nth-child(2) {
                  padding: 2px 10px;
                  color: var(--black);
                  font-family: 'Inter';
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 300;
                  line-height: 23px;
                  border-radius: 4px;
                  border: 1px solid var(--black3, rgba(21, 19, 19, 0.03));
                  background: var(--black3, rgba(21, 19, 19, 0.03));
                  margin-left: 24px;
                  @include respond(tab-land) {
                    margin: 8px 0;
                  }
                }
              }
              a {
                display: flex;
                background-color: var(--black40);
                margin-left: auto;
                padding: 10px;
                border-radius: 3.333px;
                border: 0.833px solid var(--white10, rgba(255, 255, 255, 0.1));
                transition: ease-in-out 200ms;
                @include respond(tab-land) {
                  //  margin-left: 0;
                  // display: none;
                }
                &:hover {
                  background-color: var(--accent);
                  border: 0.833px solid var(--white10, rgba(255, 255, 255, 0.1));
                }
              }
            }
            h2 {
              color: var(--black, #151313);
              font-family: 'Sora';
              font-size: 22px;
              font-style: normal;
              font-weight: bold;
              line-height: 32px;
              padding: 0;
              padding-bottom: 8px;

              @include respond(tab-land) {
                display: block;
                font-size: 18px;
                line-height: 30px;
                font-weight: bold;
                padding-bottom: 8px;
              }
            }
            p {
              color: var(--black, #151313);
              font-family: 'Inter';
              font-size: 18px;
              font-style: normal;
              font-weight: 300;
              line-height: 30px;
              margin-bottom: 16px;

              @include respond(tab-land) {
                font-size: 14px;
                line-height: 23px;
                margin-bottom: 8px;
                display: -webkit-box;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 4;
              }
            }
          }
        }
        .subscribe {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 55px 0;
          border-radius: 4px;
          border: 1px solid var(--black10, rgba(21, 19, 19, 0.1));
          background: var(--accent);
          background-image: url('/bg_wrie.png');
          padding: 8% 24px 3% 24px;
          @include respond(tab-land) {
            padding: 15% 24px;
            margin: 24px 0;
          }
          h2 {
            color: var(--white, #fff);
            font-family: 'Sora';
            font-size: 40px;
            font-style: normal;
            font-weight: 300;
            line-height: 47px;
            text-align: center;
            padding: 0 10% 40px 10%;
            span {
              color: var(--black);
            }
            @include respond(tab-land) {
              display: block;
              font-size: 32px;
              line-height: 41px;
              padding: 0 0% 40px 0%;
            }
          }
          form {
            display: flex;
            width: 100%;
            @include respond(tab-land) {
              flex-flow: wrap;
            }
            .row {
              width: 100%;
              display: flex;
              align-items: flex-end;
              gap: 8px;
              @include respond(tab-land) {
                flex-flow: wrap;
              }
              .col {
                display: flex;
                width: 100%;
                flex-flow: column;
                @include respond(tab-land) {
                  padding-top: 10px;
                }
                label {
                  color: var(--white, #fff);
                  font-family: 'Inter';
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 300;
                  line-height: 22px;
                  padding-bottom: 6px;
                }
                input {
                  border-radius: 4px;
                  border: 1px solid var(--black10, rgba(21, 19, 19, 0.1));
                  background: #fff;
                  padding: 16px;
                  color: var(--black, rgba(21, 19, 19, 0.4));
                  font-family: 'Inter';
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 300;
                  line-height: 22px;
                  align-items: center;
                  outline: none;
                  transition: ease-in-out 200ms;
                  &:focus {
                    border-color: var(--accent);
                  }
                }
              }
              button {
                display: flex;
                height: 56px;
                padding: 13px 22px 13px 16px;
                justify-content: center;
                align-items: center;
                border-radius: 4px;
                border: 1px solid var(--black10, rgba(21, 19, 19, 0.1));
                background: var(--Black, #151313);
                box-shadow: 0px 0px 0px 0px rgba(242, 89, 48, 0);
                color: var(--white, #fff);
                font-family: 'Inter';
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px;
                cursor: pointer;
                transition: ease-in-out 300ms;
                &:hover {
                  background-color: var(--black80);
                }

                svg {
                  margin-left: 12px;
                  @include respond(tab-land) {
                    color: var(--white, #fff);
                  }
                }
                @include respond(tab-land) {
                  width: 100%;
                  margin-top: 30px;
                }
              }
            }
          }
        }
        .loadmore {
          width: 100%;
          display: flex;
          padding: 32px 0;
          justify-content: center;
          button {
            display: flex;
            height: 56px;
            padding: 13px 22px 13px 16px;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            border: 1px solid var(--white10w, rgba(255, 255, 255, 0.1));
            background: var(--white, #fff);
            box-shadow: 0px 0px 0px 0px rgba(242, 89, 48, 0);
            color: var(--black, #fff);
            font-family: 'Inter';
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
            cursor: pointer;
            transition: ease-in-out 200ms;
            &:hover {
              background-color: var(--black);
              color: var(--white);
            }

            svg {
              margin-left: 12px;
            }
          }
          @include respond(tab-land) {
            padding: 25px 0;
          }
        }
      }
    }
  }
}
.connect {
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  width: 100%;
  padding: 24px;
}
