@use '@/styles' as *;
.ourwork_wrap {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-image: url('/ourwork_bg.png');
  background-repeat: repeat;
  background-color: var(--accent);
  padding: 9% 8% 9% 8%;
  @include respond(ultra-wide) {
    padding: 62px 120px;
  }
  @include respond(tab-land) {
    padding: 11% 16px 9% 16px;
  }
  .ourwork_title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21px;
    padding-bottom: 56px;
    color: var(--white);
    text-align: center;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 2.8px;
    text-transform: uppercase;

    // @include respond(ultra-wide) {
    //   padding-bottom: 60px;
    // }
    @include respond(tab-land) {
      padding-bottom: 46px;
    }
  }
  .work {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    border-radius: 8px;
    border: 1px solid var(--Black-10, rgba(21, 19, 19, 0.1));
    background: var(--White, #fff);
    box-shadow: 0px 4px 28px 0px rgba(0, 0, 0, 0.15);
    padding: 40px 40px 9% 40px;
    background-image: url('/ourwork_bg2.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    max-width: var(--maxwidth);
    @include respond(ultra-wide) {
      padding: 40px 40px 80px 40px;
      max-width: 1200px;
    }
    @include respond(tab-land) {
      flex-direction: column-reverse;
      padding: 16px;
      background-image: none;
    }
    .work_col {
      display: flex;
      flex-flow: wrap;
      &:nth-child(1) {
        width: 60%;
        flex-direction: column;
        align-items: flex-start;
        @include respond(tab-land) {
          width: 100%;
        }
      }
      &:nth-child(2) {
        width: 40%;
        justify-content: right;
        align-items: flex-start;
        @include respond(tab-land) {
          width: 100%;
          justify-content: left;
          padding-bottom: 40px;
        }
        @include respond(phone) {
          width: 100%;
          justify-content: center;
          padding-bottom: 40px;
        }
        img {
          @include respond(tab-land) {
            width: 120px;
            height: auto;
          }
        }
      }
    }
    h2 {
      color: var(--black, #151313);
      font-family: 'Sora';
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 47px;
      padding-bottom: 24px;
      @include respond(tab-land) {
        font-size: 32px;
        line-height: 40px;
        padding-bottom: 8px;
      }
    }
    p {
      width: 100%;
      color: var(--black, #151313);
      font-family: 'Inter';
      font-size: 24px;
      font-style: normal;
      font-weight: 300;
      line-height: 32px;
      padding-bottom: 22px;
      @include respond(tab-land) {
        font-size: 20px;
        line-height: 32px;
      }
    }
    a {
      border-radius: 4px;
      border: 1px solid var(--white10, rgba(255, 255, 255, 0.1));
      background: var(--dark, #151313);
      box-shadow: 0px 0px 0px 0px rgba(242, 89, 48, 0);
      display: flex;
      height: 56px;
      padding: 13px 18px 13px 16px;
      justify-content: center;
      align-items: center;
      gap: 6px;
      color: var(--white, #fff);
      text-decoration: none;

      font-family: 'Inter';
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }
  }
}
